/**
* Variables used in this file from abstracts/_variable.scss
*
* None
*
*/
/**
* Specific variables (used only in this file) 
*
* None
*
**/

/**
*
* Fonts
*
**/

/*
@font-face {
    font-family: 'geogrotesque';
    src: url('fonts/Geogtq-Rg-webfont.eot');
    src: url('fonts/Geogtq-Rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geogtq-Rg-webfont.woff2') format('woff2'),
         url('fonts/Geogtq-Rg-webfont.woff') format('woff'),
         url('fonts/Geogtq-Rg-webfont.ttf') format('truetype'),
         url('fonts/Geogtq-Rg-webfont.svg#geogrotesque') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'geogrotesque';
    src: url('fonts/Geogtq-Md-webfont.eot');
    src: url('fonts/Geogtq-Md-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geogtq-Md-webfont.woff2') format('woff2'),
         url('fonts/Geogtq-Md-webfont.woff') format('woff'),
         url('fonts/Geogtq-Md-webfont.ttf') format('truetype'),
         url('fonts/Geogtq-Md-webfont.svg#geogrotesque') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'geogrotesque';
    src: url('fonts/Geogtq-Bd-webfont.eot');
    src: url('fonts/Geogtq-Bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Geogtq-Bd-webfont.woff2') format('woff2'),
         url('fonts/Geogtq-Bd-webfont.woff') format('woff'),
         url('fonts/Geogtq-Bd-webfont.ttf') format('truetype'),
         url('fonts/Geogtq-Bd-webfont.svg#geogrotesque') format('svg');
    font-weight: 700;
    font-style: normal;

}
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&subset=latin-ext');