<div class="layout layout--wide {{ css_classes }} clearfix" {{ styles }}>
	<span id="row-{{ block_position }}" class="anchor"></span>
    <div class="wrapper">
		<div class="container clearfix">
			{{ content_blocks }}
		</div>
	</div>
</div>