<!-- Page Status Bar Start -->
        <div id="pageStatusBar" class="ms-status-green">Post ID: {{post_object.ID}}, title is:{{post_object.post_title}}, custom field is: {{post_meta.some_custom_field[0]}}</div>
<!-- Page Status Bar End -->  